.game-zone {
    padding: 0;
    min-height: 100vh;
    margin: 0;
    background-image: url(./img/back.png);
}

.player {
   position: absolute; 
   width: 78px;
   height: 77px;
   background-image: url(./img/player-top.png);
   background-repeat: no-repeat;
}

.bullet {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(./img/bullet.png);
    background-repeat: no-repeat;
}